{% extends 'head_hunters/base.html' %}

{% load bootstrap4 %}

{% block page_header %}
    <h2>
        <a href="{% url 'head_hunters:topic' topic.slug %}"
            class="nav-link">{{ topic }}</a>
    </h2>
{% endblock page_header %}

{% block content %}
    {% if summary.photo %}
        <p><img src="{{ summary.photo.url }}" class="img-fluid rounded float-start"
            width="200" height="200"></p>
    {% endif %}

    <h4>Сontact phone number: {{ phone }}</h4>

    <h3>Summary:</h3>
    
    <h4>{{ summary.text|linebreaks }}</h4>

{% endblock content %}