{% extends 'head_hunters/base.html' %}

{% load bootstrap4 %}

{% block page_header %}
    <h2>{{ topic }}</h2>
{% endblock page_header %}

{% block content %}
    <h4><p>My summaries:</p></h4>
    <p>
        <a href="{% url 'head_hunters:new_summary' topic.slug %}"
            class="btn btn-lg btn-primary"
            role="button">Add new summary</a>
    </p>

    {% for summary in summaries %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ summary.date_added|date:'M d, Y H:i' }}
                <small>
                    <a href="{% url 'head_hunters:edit_summary' summary.id %}"
                        class="btn btn-lg btn-primary"
                        role="button">Edit summary</a>
                    
                    <a href="{% url 'head_hunters:delete_summary' summary.id %}"
                        class="btn btn-lg btn-primary"
                        role="button">Delete summary</a>
                </small>
            </h4>
            <div class="card-body">
                {{ summary.text|linebreaks }}
            </div>
        </div>
    {% empty %}
        <h4>There are no summaries for this topic yet.</h4>
    {% endfor %}


    <h4><p>Vacancies:</p></h4>

    {% for vacancy in vacancies %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ vacancy.date_added|date:'M d, Y H:i' }}
                <small>
                    <a href="{% url 'head_hunters:show_vacancy' vacancy.id %}"
                        class="btn btn-lg btn-primary"
                        role="button">Show vacancy</a>
                </small>
            </h4>
            <div class="card-body">
                {{ vacancy.text|linebreaks }}
            </div>
        </div>
    {% empty %}
        <h4>There are no vacancies for this topic yet.</h4>
    {% endfor %}

{% endblock content%}