{% extends 'head_hunters/base.html' %}

{% block content %}

<p>Topics: {{ topic }}</p>

<p>Summaries:</p>

<ul>
    {% for summary in summaries %}
        <li>
            <p>{{ summary.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ summary.text|linebreaks }}</p>
            <p>
                <a href="{% url 'head_hunters:show_summary' summary.id %}">Show summary</a>
            </p>
        </li>
    {% empty %}
        <li>There are no summaries for this topic yet.</li>
    {% endfor %}
</ul>

<p>My vacancies:</p>
<p>
    <a href="{% url 'head_hunters:new_vacancy' topic.slug %}">Add vacancy</a>
</p>

<ul>
    {% for vacancy in vacancies %}
        <li>
            <p>{{ vacancy.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ vacancy.text|linebreaks }}</p>
            <p>
                <a href="{% url 'head_hunters:edit_vacancy' vacancy.id %}">Edit vacancy</a>
            </p>
            <p>
                <a href="{% url 'head_hunters:delete_vacancy' vacancy.id %}">Delete vacancy</a>
            </p>
        </li>
    {% empty %}
        <li>There are no summaries for this topic yet.</li>
    {% endfor %}
</ul>

{% endblock content %}