{% extends 'head_hunters/base.html' %}

{% load bootstrap4 %}

{% block page_header %}
    <h2>{{ topic }}</h2>
{% endblock page_header %}

{% block content %}
    <h4><p>Summaries:</p></h4>

    {% for summary in summaries %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ summary.date_added|date:'M d, Y H:i' }}
                <small>
                    <a href="{% url 'head_hunters:show_summary' summary.id %}"
                    class="btn btn-lg btn-primary"
                    role="button">Show summary</a>
                </small>
            </h4>
            <div class="card-body">
                {{ summary.text|truncatewords:50|linebreaks }}
            </div>
        </div>
    {% empty %}
        <h4>There are no summaries for this topic yet.</h4>
    {% endfor %}


    <h4><p>My vacancies:</p></h4>
    <p>
        <a href="{% url 'head_hunters:new_vacancy' topic.slug %}"
            class="btn btn-lg btn-primary"
            role="button">Add new vacancy</a>
    </p>

    {% for vacancy in vacancies %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ vacancy.date_added|date:'M d, Y H:i' }}
                <small>
                    <a href="{% url 'head_hunters:edit_vacancy' vacancy.id %}"
                        class="btn btn-lg btn-primary"
                        role="button">Edit vacancy</a>

                    <a href="{% url 'head_hunters:delete_vacancy' vacancy.id %}"
                        class="btn btn-lg btn-primary"
                        role="button">Delete vacancy</a>
                </small>
            </h4>
            <div class="card-body">
                {{ vacancy.text|truncatewords:50|linebreaks }}
            </div>
        </div>
    {% empty %}
        <h4>There are no vacancies for this topic yet.</h4>
    {% endfor %}

{% endblock content%}